.grid-container {
    display: grid;
    grid-gap:200px 150px;
    grid-template-columns: 200px 200px 200px;
}

.grid-item{
    border:5px solid #000000;
    float:none;
}

body{
    max-width: 500px;
    margin-left:30%;
    color: antiquewhite;
    font-size: 20px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
    margin-bottom:50px;
}

#menu-outer-swe, #menu-outer-eng {
    height: 110px;
    width:570px;
    background: url('../img/surfbodenLong.png') 100% 50% no-repeat;
}




#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
}

.table {
    display: table;
    margin: 0;
}

ul.horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 40px;
}

ul.horizontal-list li {
    display: inline;
    font-size:200%;
    margin-left:20px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
}


img.destImg{
    width:100%;
    height:100%;

}




.kontaktform{
    column-gap: 0;
    display:inline;
}



form{
    display:inline;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;


}
form input.bokaBtn{
    text-align:center;
    display:flex;
    background:antiquewhite;
    margin: auto auto 50px;

}



.footerImg{
    width:25%;
    height:25%;
    display:inline-grid;
    padding-bottom:50px;
    z-index:3;
}




ul#horizontal-listFooter {
    padding-left:0;
    list-style: none;
    padding-top: 1px; /*move footer*/
    position:fixed;
    left:0;
    top:0;
    width:25%;
}
ul#horizontal-listFooter li {
    font-size:200%;
    margin-left:20px;
}


a, a:visited{
    color: antiquewhite;
}

.langBtn#uklang{
    position: fixed;
    top: 170px;
    right: 10px;
    width:100px;
    height:100px;
}

.langBtn#swelang{
    position:fixed;
    top:25px;
    right:10px;
    width:100px;
    height:100px;

}

.formvalid {
    display: inline;
    font-size:70%;
    margin-left:20px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
    color:red;

}

div#bookingResult{
    margin-top:20%;
    font-size:250%;
    width:100%;
}
button.bokanuBtn{
    font-size:100%;
    width:50%;
    height:10%;
}
button.bokaBtn{
    font-size:100%;
    width:40%;
    height:15%;
    margin-bottom:5%;
    margin-left:30%;
}



@media only screen and (max-width: 320px) {
    /* Mobile Small
*/
    #sweBody, #engBody {
        margin-left: 0;
        width: 200%;
        height: 100%;
        font-size: 250%;
        /*
        color: #ff0026;
        text-shadow: 0.07em 0 #730606,
        0 0.07em #b62323,
        -0.07em 0 #590707,
        0 -0.07em #cc2a2a;
         */
        position: absolute;
        top: 15%;
        z-index: 1
    }

    .langBtn#uklang {
        position: fixed;
        top: 540px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    .langBtn#swelang {
        position: fixed;
        top: 420px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    #menu-outer-swe, #menu-outer-eng {
        position: absolute;
        width: 210%;
        height:20%;
        top: 0;
        z-index: 2;
        margin-left: 0;


    }

    ul.horizontal-list li {
        width:auto;
        height:auto;
        display: inline;
        font-size:250%;
        margin-left:5%;
    }
    label{
        font-size:150%;
    }
    input{
        width:50%;
        height:6%;
        font-size:50%;
    }
    select{
        width:50%;
        height:10%;
        font-size:50%;
    }
    button.bokanuBtn{
        font-size:100%;
        width:50%;
        height:10%;
    }
    button.bokaBtn{
        font-size:100%;
        width:40%;
        height:15%;
        margin-bottom:5%;
        margin-left:30%;
    }
    ul#sweList, ul#engList{
        list-style-type: none;
        display:inline;
        padding-bottom:20px;
        margin-left:auto;

    }
    .footerImg{
        width:22%;
        height:22%;
        display:inline-grid;
        padding-bottom:50px;
    }

    div#bookingResult{
        margin-top:80%;
        font-size:250%;
        width:230%;
    }
}


/* responsive stuff*/

@media only screen and (max-width: 375px) and (min-width: 321px) {
    /*
    Mobile M
 */
    #sweBody, #engBody {
        margin-left: 0;
        width: 175%;
        height: 100%;
        font-size: 230%;
        /* placeholder color to see mediaquery working
        color: #48ff00;

        text-shadow: 0.07em 0 #217306,
        0 0.07em #3eb623,
        -0.07em 0 #12be42,
        0 -0.07em #328511;

         */
        position: absolute;
        top: 15%;
        z-index: 1
    }

    .langBtn#uklang {
        position: fixed;
        top: 500px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    .langBtn#swelang {
        position: fixed;
        top: 400px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    #menu-outer-swe, #menu-outer-eng {
        position: absolute;
        width: 200%;
        height:20%;
        top: 0;
        z-index: 2;
        margin-left: -20%;


    }

    ul.horizontal-list li {
        width: auto;
        height: auto;
        display: inline;
        font-size: 290%;
        margin-left: 5%;
    }
    img.destImg{
        width:100%;
        height:100%;
        margin-right:10%;
    }
    label{
        font-size:150%;
    }

    input{
        width:60%;
        height:6%;
        font-size:50%;
    }
    select{
        width:70%;
        height:10%;
        font-size:50%;
    }
    button.bokanuBtn{
        font-size:100%;
        width:50%;
        height:10%;
    }
    button.bokaBtn{
        font-size:100%;
        width:40%;
        height:15%;
        margin-bottom:5%;
        margin-left:30%;
    }
    ul#sweList, ul#engList{
        list-style-type: none;
        display:inline;
        padding-bottom:20px;
        margin-left:auto;}

    .footerImg{
        width:22%;
        height:22%;
        display:inline-grid;
        padding-bottom:50px;
    }

    div#bookingResult{
        margin-top:80%;
        font-size:250%;
        width:230%;
    }
    }



@media only screen and (max-width: 425px) and (min-width:376px) {
    /* Mobile Large */
    #sweBody, #engBody {
        margin-left: 0;
        width: 150%;
        height: 100%;
        font-size: 250%;
        /* color change to see if it works
        color: #0033ff;

        text-shadow:
            0.07em 0 #1b3352,
            0 0.07em #2337b6,
            -0.07em 0 #0b5c88,
            0 -0.07em #2a63cc;*/
        position: absolute;
        top: 15%;
        z-index: 1
    }

    .langBtn#uklang {
        position: fixed;
        top: 500px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    .langBtn#swelang {
        position: fixed;
        top: 400px;
        left:2%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    #menu-outer-swe, #menu-outer-eng {
        position: absolute;
        height:20%;
        top: 0;
        z-index: 2;
        margin-left: 0;
        width:160%;

    }

    ul.horizontal-list li {
        width:auto;
        height:auto;
        display: inline;
        font-size: 260%;
        margin-left:5%;
    }

    input{
        width:50%;
        height:5%;
        font-size:50%;
    }
    select{
        width:70%;
        height:10%;
        font-size:50%;
    }
    button.bokanuBtn{
        font-size:100%;
        width:50%;
        height:10%;
    }
    button.bokaBtn{
        font-size:100%;
        width:40%;
        height:15%;
        margin-bottom:5%;
        margin-left:30%;
    }
    ul#sweList, ul#engList{
        list-style-type: none;
        display:inline;
        padding-bottom:20px;
        margin-left:auto;

    }

    .footerImg{
        width:22%;
        height:22%;
        display:inline-grid;
        padding-bottom:50px;
    }

    div#bookingResult{
        margin-top:80%;
        font-size:250%;
        width:230%;
    }

}

@media only screen and (max-width: 768px) and (min-width:426px) {
    /* Tablet NOT IMPLEMENTED YET */
    img.destImg{
        width:75%;
        height:75%;
        border-right:10px;
    }
    #sweBody, #engBody {
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 250%;
        /*color change to see if it works*/
        color: #0033ff;

        text-shadow:
            0.07em 0 #1b3352,
            0 0.07em #2337b6,
            -0.07em 0 #0b5c88,
            0 -0.07em #2a63cc;
        position: absolute;
        top: 15%;
        z-index: 1
    }

    .langBtn#uklang {
        position: fixed;
        top: 26%;
        right: 80%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    .langBtn#swelang {
        position: fixed;
        top: 5%;
        right: 80%;
        width: 70px;
        height: 70px;
        z-index: 3;
    }

    #menu-outer-swe, #menu-outer-eng {
        position: absolute;
        height:20%;
        top:0;
        z-index: 2;
        margin-left: 0;
        width:90%;


    }

    ul.horizontal-list li {
        width:auto;
        height:auto;
        display: inline;
        font-size:250%;
        margin-left:5%;

    }

    input{
        width:50%;
        height:5%;
        font-size:50%;
    }
    select{
        width:70%;
        height:10%;
        font-size:50%;
    }
    input.bokaBtn{
        margin-left:10%;
        width:50%;
    }
    ul#sweList, ul#engList{
        list-style-type: none;
        display:inline;
        font-size:100%;
        text-shadow:
                0.07em 0 black,
                0 0.07em black,
                -0.07em 0 black,
                0 -0.07em black;
        padding-bottom:20px;
        color:antiquewhite;
        margin-left:auto;

    }
    .footerImg{
         width:20%;
         height:20%;
         display:inline-grid;
         padding-bottom:50px;
     }
}